<header>
  <img
    (click)="navToSection('preview')"
    alt="cargo logo"
    class="logo"
    src="./assets/img/LOGO.svg"
  />
  <nav class="navbar">
    <ul class="navbar-links">
      <li>
        <a (click)="navToSection('calculate')">{{
          "NAVBAR.CALCULATOR" | translate
        }}</a>
      </li>
      <li>
        <a (click)="navToSection('advantage')">{{
          "NAVBAR.ADVANTAGES" | translate
        }}</a>
      </li>
      <li>
        <a (click)="navToSection('FAQ')">{{ "NAVBAR.FAQ" | translate }}</a>
      </li>
      @if (!isAuthorized()) {
        <li>
          <a (click)="navToSection('authorization')">{{
            "NAVBAR.AUTHORIZATION" | translate
          }}</a>
        </li>
      } @else {
        @if (isAdmin()) {
          <li>
            <a (click)="navToSection('admin')">{{
              "NAVBAR.ADMIN" | translate
            }}</a>
          </li>
        }
        @if (isUser()) {
          <li>
            <a (click)="navToSection('cabinet')">{{
              "NAVBAR.CABINET" | translate
            }}</a>
          </li>
        }
      }
      @if (isMobile()) {
        <li>
          <div>
            <a
              [ngClass]="{ active: languageFormControl.value?.code === 'ru' }"
              (click)="setLanguage('ru')"
              >Русский
            </a>
            <a>/</a>
            <a
              [ngClass]="{ active: languageFormControl.value?.code === 'en' }"
              (click)="setLanguage('en')"
              >English
            </a>
            <a>/</a>
            <a
              [ngClass]="{ active: languageFormControl.value?.code === 'kk' }"
              (click)="setLanguage('kk')"
              >Қазақша
            </a>
          </div>
        </li>
      } @else {
        <li>
          <p-dropdown
            [formControl]="languageFormControl"
            [options]="languageList"
            class="ng-dirty ng-invalid"
            dropdownIcon
            optionLabel="name"
          />
        </li>
      }
      <app-common-button
        [text]="'NAVBAR.CONTACT' | translate"
        [type]="'primary'"
        [withFullWidth]="true"
        style="width: 100%"
      ></app-common-button>
    </ul>
  </nav>
  <div class="burger-body">
    <input
      (click)="mobileNavbarToggle()"
      class="burger-checkbox"
      id="burger-checkbox"
      type="checkbox"
    />
    <label class="burger" for="burger-checkbox"></label>
  </div>
</header>
