<header>
  <img
    (click)="navToSection('preview')"
    alt="cargo logo"
    class="logo"
    src="./assets/img/LOGO.svg"
  />
  <nav class="navbar">
    <ul class="navbar-links">
      <li>
        <a (click)="navToSection('calculate')">{{
            "NAVBAR.CALCULATOR" | translate
          }}</a>
      </li>
      <li>
        <a (click)="navToSection('advantage')">{{
            "NAVBAR.ADVANTAGES" | translate
          }}</a>
      </li>
      <li>
        <a (click)="navToSection('FAQ')">{{ "NAVBAR.FAQ" | translate }}</a>
      </li>
      <li>
        <a (click)="navToSection('authorization')">{{ "NAVBAR.AUTHORIZATION" | translate }}</a>
      </li>
      <app-common-button
        [text]="'NAVBAR.CONTACT' | translate"
        [type]="'primary'"
        [withFullWidth]="true"
        style="width: 100%"
      ></app-common-button>
    </ul>
  </nav>

  <div class="burger-body">
    <input
      (click)="showMobileNavbar()"
      class="burger-checkbox"
      id="burger-checkbox"
      type="checkbox"
    />
    <label class="burger" for="burger-checkbox"></label>
  </div>
</header>
