.field {
  display: grid;
  gap: 4px;
  text-align: left;
  max-width: 328px;

  ::ng-deep.p-dropdown {
    width: 100%;
    text-align: left;
    border-radius: 8px;
    border: 1px solid var(--gray-borders);
    box-shadow: none !important;

    span {
      font-family: "Futura PT", sans-serif;
      font-size: 16px;
      font-weight: 450;
    }

    .p-highlight {
      background-color: #fff;
      color: var(--orange);
    }

    .p-placeholder {
      color: var(--gray-borders) !important;
    }

    .p-inputtext {
      color: var(--common-text);
    }

    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
      color: #ffff;
      background: #ffbd81;
    }

    .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
      color: #ffff;
      background: #ffbd81;
    }

    //.p-dropdown-items-wrapper {
    //  margin-top: 6px;
    //}
  }

  h4 {
    margin: 0;
    color: var(--common-text);
    font-weight: 400;
  }
}
