.field {
  display: grid;
  gap: 4px;
  text-align: left;
  max-width: 328px;

  h4 {
    margin: 0;
    color: var(--common-text);
    font-weight: 400;
  }

  &__input {
    position: relative;
  }

  input {
    padding: 12px;
    border-radius: 8px;
    //width: calc(100% - 28px);
    width: 328px;
    border: 1px solid var(--gray-borders);

    &:focus {
      border: 1px solid var(--common-text);
    }
  }
}
