.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .buttons {
    display: flex;
    gap: 12px;

    button {
      padding: 6px 16px 6px 16px;
      gap: 10px;
      border-radius: 8px;
      border: 1px solid var(--orange);
      color: var(--orange);
      cursor: pointer;
    }

    .active {
      color: #fff;
      background-color: var(--orange);
    }
  }
}

@media (max-width: 900px) {
  .title {
    flex-direction: column;
    gap: 24px;

    h2 {
      font-size: 24px;
      font-weight: 500;
    }

    .buttons {
      display: flex;
      gap: 12px;
      overflow: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      button {
        padding: 6px 16px 6px 16px;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--orange);
        color: var(--orange);
        cursor: pointer;
      }

      .active {
        color: #fff;
        background-color: var(--orange);
      }
    }
  }
}
