section {
  margin: 50px auto;
  padding: 40px 88px;
  background-color: var(--gray-lite);
  border-radius: 8px;
  width: 100%;

  display: flex;
  gap: 48px;
  flex-direction: column;

  .title {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    row-gap: 20px;
  }
}
