@if (!!ordersByClient()?.totalElements) {
  <table id="ordersByClientTable">
    <thead>
      <tr>
        <th>№</th>
        <th>Трек номер №</th>
        <th>Дата добавления</th>
        <th>Статут заказа</th>
      </tr>
    </thead>
    <tbody>
      @for (order of ordersByClient()?.content; track i; let i = $index) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            {{ order?.trackNumber }}
            <p>
              {{ order?.insertDate ?? order?.updatedDate | date: "dd.MM.YYYY" }}
            </p>
          </td>
          <td>
            {{ order?.insertDate ?? order?.updatedDate | date: "dd.MM.YYYY" }}
          </td>
          <td>{{ order?.status }}</td>
        </tr>
      } @empty {
        Нет товаров
      }
    </tbody>
  </table>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="1"
    [rows]="5"
    [totalRecords]="ordersByClient()?.totalElements"
  />
}
