<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Трек номер №</th>
      <th>Дата добавления</th>
      <th>Статут заказа</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>BW2765PG1</td>
      <td>17.05.2024</td>
      <td>Прибыл на скалд</td>
    </tr>
    <tr>
      <td>2</td>
      <td>BW2765PG2</td>
      <td>17.05.2024</td>
      <td>Зарегистрирован</td>
    </tr>
    <tr>
      <td>3</td>
      <td>BW2765PG3</td>
      <td>17.05.2024</td>
      <td>Выдан</td>
    </tr>
    <tr>
      <td>4</td>
      <td>BW2765PG4</td>
      <td>17.05.2024</td>
      <td>Прибыл на скалд</td>
    </tr>
    <tr>
      <td>5</td>
      <td>BW2765PG5</td>
      <td>17.05.2024</td>
      <td>Выдан</td>
    </tr>
  </tbody>
</table>
