<p-dialog
  (onHide)="onHideModalWindow()"
  [(visible)]="visible"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  [showHeader]="false"
  header="Информация о клиенте"
>
  <h2>Дополнительная информация</h2>

  <div class="clientInfo-container">
    <div class="box">
      <div class="title">ФИО</div>
      <div class="info">{{ client()?.fullName }}</div>
    </div>
    <div class="box">
      <div class="title">Код клиента</div>
      <div class="info">{{ client()?.clientCode }}</div>
    </div>
    <div class="box">
      <div class="title">Номер телефона</div>
      <div class="info">{{ client()?.phoneNumber }}</div>
    </div>
    <div class="box">
      <div class="title">Почта</div>
      <div class="info">{{ client()?.email }}</div>
    </div>
    <div class="box">
      <div class="title">Дата регистрации</div>
      <div class="info">{{ client()?.registerDate | date: "dd.MM.YYYY" }}</div>
    </div>
  </div>

  <h2>Счет</h2>

  <form [formGroup]="clientModalForm" class="clientInfo-container">
    <div class="box">
      <div class="title">Введите сумму</div>
      <input
        class="info"
        formControlName="amountToPay"
        inputmode="numeric"
        pattern="[0-9]*"
        type="number"
      />
    </div>
    @if (client()?.cameFrom) {
      <div class="box">
        <div class="title">Введите количество бонусов</div>
        <input
          class="info"
          formControlName="bonusesToMainClient"
          inputmode="numeric"
          pattern="[0-9]*"
          type="number"
        />

        <p>Этот пользователь пришел от:</p>
        <p>ФИО: {{ client()?.cameFrom?.fullName }}</p>
        <p>Код клиента: {{ client()?.cameFrom?.id }}</p>
        <p>Бонусы: {{ client()?.cameFrom?.bonuses | currency: "KZT" }}</p>
      </div>
    }
  </form>

  <app-common-button
    (clickBTN)="submitClientChanges()"
    [disabled]="this.clientModalForm.controls.amountToPay.invalid"
    [text]="'Сохранить'"
    [withoutMargin]="true"
  ></app-common-button>
</p-dialog>
