<section #authorization id="authorization">
  <h2>{{ "AUTHORIZATION.TITLE.SIGN_IN" | translate }}</h2>
  <form (keydown.enter)="signIn()" [formGroup]="signInForm">
    <app-input-email
      [emailFormControl]="signInForm.controls.emailFormControl"
    ></app-input-email>
    <app-input-password
      [passwordFormControl]="signInForm.controls.passwordFormControl"
    >
    </app-input-password>
  </form>

  <app-common-button
    (clickBTN)="signIn()"
    [disabled]="signInForm.invalid || isSignLoading()"
    [isLoading]="isSignLoading()"
    [text]="'AUTHORIZATION.BUTTONS.SIGN_IN' | translate"
    [withFullWidth]="true"
  ></app-common-button>
  <app-common-button
    (clickBTN)="navToSignUp()"
    [text]="'AUTHORIZATION.BUTTONS.SIGN_UP' | translate"
    [type]="'tertiary'"
    [withFullWidth]="true"
  ></app-common-button>
</section>
