<section appDropdown class="dropdown__body">
  <div class="flex row jc-sb pointer">
    <div class="flex row">
      <h2>Бонусы</h2>
      <h2 style="color: var(--orange); margin-left: 16px">5.000Б</h2>
    </div>
    <img
      alt="down_arrow"
      class="down_arrow"
      src="assets/img/down_arrow.svg"
      srcset="assets/img/down_arrow.svg"
      width="30px"
    />
  </div>

  <div class="input-container dropdown">
    <app-copy-refferal-link></app-copy-refferal-link>
    <app-friends-table></app-friends-table>
  </div>
</section>
