<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Трек номер №</th>
      <th>ФИО</th>
      <th>Код клиента</th>
      <th>Статут заказа</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>
        BW2765PG1
        <p>17.05.2024</p>
      </td>
      <td>Иванов Иван Ивавнович</td>
      <td>123456</td>
      <td>Прибыл на скалд</td>
      <td><img src="assets/img/Trash.svg" /></td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        BW2765PG1
        <p>17.05.2024</p>
      </td>
      <td>Иванов Иван Ивавнович</td>
      <td>123456</td>
      <td>Прибыл на скалд</td>
      <td><img src="assets/img/Trash.svg" /></td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        BW2765PG1
        <p>17.05.2024</p>
      </td>
      <td>Иванов Иван Ивавнович</td>
      <td>123456</td>
      <td>Прибыл на скалд</td>
      <td><img src="assets/img/Trash.svg" /></td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        BW2765PG1
        <p>17.05.2024</p>
      </td>
      <td>Иванов Иван Ивавнович</td>
      <td>123456</td>
      <td>Прибыл на скалд</td>
      <td><img src="assets/img/Trash.svg" /></td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        BW2765PG1
        <p>17.05.2024</p>
      </td>
      <td>Иванов Иван Ивавнович</td>
      <td>123456</td>
      <td>Прибыл на скалд</td>
      <td><img src="assets/img/Trash.svg" /></td>
    </tr>
  </tbody>
</table>

<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="1"
  [rows]="5"
  [totalRecords]="120"
/>
