<footer class="footer">
  <section class="footer__question">
    <h1>{{ "FOOTER.QUESTION.TITLE" | translate }}</h1>
    <h3>{{ "FOOTER.QUESTION.SUBTITLE" | translate }}</h3>
    <app-common-button
      [text]="'FOOTER.QUESTION.CONTACT_BTN' | translate"
      [type]="'primary'"
    ></app-common-button>
  </section>

  <section class="footer__main">
    <div class="first">
      <img src="./assets/img/LOGO.svg" />
      <h4 [innerHTML]="'FOOTER.MAIN.FIRST_COL.T1' | translate"></h4>
      <h5>{{ "FOOTER.MAIN.FIRST_COL.T2" | translate }}</h5>
    </div>
    <div class="second">
      <h3>{{ "FOOTER.MAIN.SECOND_COL.MENU" | translate }}</h3>
      <nav class="navbar">
        <ul class="navbar-links">
          <li>
            <a (click)="navToSection('calculate')">{{
              "NAVBAR.CALCULATOR" | translate
            }}</a>
          </li>
          <li>
            <a (click)="navToSection('advantage')">{{
              "NAVBAR.ADVANTAGES" | translate
            }}</a>
          </li>
          <li>
            <a (click)="navToSection('FAQ')">{{ "NAVBAR.FAQ" | translate }}</a>
          </li>
          @if (!isAuthorized()) {
            <li>
              <a (click)="navToSection('authorization')">{{
                "NAVBAR.AUTHORIZATION" | translate
              }}</a>
            </li>
          } @else {
            @if (isAdmin()) {
              <li>
                <a (click)="navToSection('admin')">{{
                  "NAVBAR.ADMIN" | translate
                }}</a>
              </li>
            }
            @if (isUser()) {
              <li>
                <a (click)="navToSection('cabinet')">{{
                  "NAVBAR.CABINET" | translate
                }}</a>
              </li>
            }
          }
        </ul>
      </nav>
    </div>
    <div class="third">
      <h3>{{ "FOOTER.MAIN.THIRD_COL.SM" | translate }}</h3>
      <div class="socialMedia">
        <button>
          <img alt="Instagram" src="./assets/img/Instagram.svg" />
        </button>
        <button>
          <img alt="WhatsUp" src="./assets/img/WhatsUp.svg" />
        </button>
        <button>
          <img alt="Telegram" src="./assets/img/Telegram.svg" />
        </button>
      </div>
    </div>
    <h5 class="mobile-text">{{ "FOOTER.MAIN.FIRST_COL.T2" | translate }}</h5>
  </section>
</footer>
