.footer {
  &__question {
    height: 60vh;
    background-color: var(--light-yellow-10-oppacity);
    border-radius: 60px;
    text-align: center;
    padding: 64px 87px;

    h1 {
    }

    p {
      margin-bottom: 32px;
    }
  }

  &__main {
    border-radius: 60px 60px 0 0;
    margin: -43vh 27px 0;
    background-color: var(--lite-black);
    height: 50vh;
    position: relative;
    background-image: url("/assets/img/boxes.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
