.footer {

  &__question {
    height: 645px;
    background-color: var(--light-yellow-10-oppacity);
    border-radius: 60px;
    text-align: center;
    padding: 64px 87px;

    h1 {
      font-weight: 450;
    }

    h3 {
      margin: 0 0 32px 0;
    }
  }

  &__main {
    color: var(--footer-text);
    border-radius: 60px 60px 0 0;
    margin: -335px 27px 0;
    background-color: var(--lite-black);
    height: 480px;
    position: relative;
    background-image: url("/assets/img/boxes.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    padding: 48px 60px;

    h2 {
      font-weight: 450;
      color: var(--white);
    }

    .first {
      h5 {
        padding-top: 48px;
      }
    }

    .second {
      .navbar {
        &-links {
          display: grid;
          list-style-type: none;
          align-items: center;
          padding: 0;
          margin: 0;
          gap: 16px;
          transition: any 0.8s ease;

          li {
            cursor: pointer;

            a {
              position: relative;
              text-decoration: none;
              color: inherit;

              &:hover {
                font-weight: 550;
              }

              &::before {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--footer-text);
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
              }

              &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }
        }

        &::after {
          content: "";
          position: absolute;
          border: 1px solid var(--gray-borders);
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }

    .third {
      .socialMedia {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        gap: 16px;

        button {
          background: inherit;
          border: none;
          padding: 0;
          width: fit-content;
        }

        img {
          cursor: pointer;
          transition: all 0.3s ease;
          display: flex;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .mobile-text {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    &__question {
      height: 520px;
      border-radius: 24px;

      padding: 24px 16px;

      h3 {
        font-size: 16px;
      }

      ::ng-deep button {
        width: 100% !important;
        padding: 10px 12px;
        min-height: auto;
        font-size: 16px;
      }
    }

    &__main {
      padding: 32px 16px;
      border-radius: 24px 24px 0 0;
      margin: -330px 8px 0;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 20px;

      .first {
        h4 {
          margin: 24px 0 0;
        }

        h5 {
          display: none;
        }
      }

      .second {
        h3 {
          font-size: 24px;
          color: white;
        }
      }

      .third {
        h3 {
          font-size: 24px;
          color: white;
        }
      }

      .mobile-text {
        display: block;
      }
    }

  }
}
