<footer class="footer">
  <section class="footer__question">
    <h1>{{ "FOOTER.QUESTION.TITLE" | translate }}</h1>
    <h3>{{ "FOOTER.QUESTION.SUBTITLE" | translate }}</h3>
    <app-common-button
      [text]="'FOOTER.QUESTION.CONTACT_BTN' | translate"
      [type]="'primary'"
    ></app-common-button>
  </section>

  <section class="footer__main">
    <div class="first">
      <img src="./assets/img/LOGO.svg" />
      <h4 [innerHTML]="'FOOTER.MAIN.FIRST_COL.T1' | translate"></h4>
      <h5>{{ "FOOTER.MAIN.FIRST_COL.T2" | translate }}</h5>
    </div>
    <div class="second">
      <h3>{{ "FOOTER.MAIN.SECOND_COL.MENU" | translate }}</h3>
      <nav class="navbar">
        <ul class="navbar-links">
          <li>
            <a routerLink="/CALCULATOR">{{
              "NAVBAR.CALCULATOR" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/ADVANTAGES">{{
              "NAVBAR.ADVANTAGES" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/FAQ">{{ "NAVBAR.FAQ" | translate }}</a>
          </li>
          <li>
            <a href="/auth">{{ "NAVBAR.AUTHORIZATION" | translate }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="third">
      <h3>{{ "FOOTER.MAIN.THIRD_COL.SM" | translate }}</h3>
      <div class="socialMedia">
        <button>
          <img alt="Instagram" src="./assets/img/Instagram.svg" />
        </button>
        <button>
          <img alt="WhatsUp" src="./assets/img/WhatsUp.svg" />
        </button>
        <button>
          <img alt="Telegram" src="./assets/img/Telegram.svg" />
        </button>
      </div>
    </div>
  </section>
</footer>
