section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  scroll-snap-align: start;

  .strange-arrow {
    position: absolute;
    top: -18px;
    left: 62px;
    width: 100%;
    max-height: 310px;
    max-width: 819px;
  }

  .animated-image {
    margin-bottom: -186px;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
  }
}


@media (max-width: 900px) {
  section {
    .strange-arrow {
      position: absolute;
      top: 0;
      left: 24px;
      right: 26px;
      width: 100%;
      width: -moz-available; /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      max-height: 310px;
    }

    .animated-image {
      margin-bottom: auto;
      max-width: calc(100dvw - 105px);
      padding-left: 32px;
    }
  }
}
