section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  scroll-snap-align: start;

  .strange-arrow {
    position: absolute;
    top: -18px;
    left: 62px;
    width: 100%;
    max-height: 310px;
    max-width: 819px;
  }

  .animated-image {
    margin-bottom: -186px;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
  }
}
