.calc {
  padding: 84px;
  background-color: var(--lite-black);
  border-radius: 60px;
  margin-right: 28px;
  margin-left: 28px;

  .info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;

    .calc-box {
      background-color: white;
      border-radius: 30px;
      padding: 32px 43px;
      display: grid;
      grid-template-rows: auto;
      gap: 16px;

      &__input {
        display: grid;
        grid-template-rows: auto;
        gap: 4px;

        div {
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 13.5px;

          input {
            width: 100%;
            border-radius: 8px;
            border: 1px solid var(--orange);
            padding: 13.5px;
            text-align: center;
            min-height: 48px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
          }

          button {
            width: 24px;
            height: 24px;
            z-index: 2;
            color: white;
            border: none;
            border-radius: 8px;
            background-color: var(--orange);
            align-items: center;
            cursor: pointer;

            &:disabled {
              cursor: not-allowed;
              background-color: var(--orange-lite);
            }
          }
        }

        p {
          color: #868686;
        }
      }

      &__sum {
        display: grid;
        grid-template-rows: auto;
        gap: 4px;

        &_count {
          border-radius: 8px;
          padding: 12px 0;
          text-align: center;
          background-color: var(--orange);
          color: white;
          font-size: 16px;
          line-height: 22px;
        }
      }

      h2 {
        text-align: center;
        padding-bottom: 32px;
        font-weight: 500;
      }

      h4 {
        margin: 0;
        font-weight: 450;
      }
    }

    .text {
      color: white;

      h2 {
        font-size: 40px;
        line-height: 52px;
      }

      h4 {
        font-weight: 450;
      }
    }
  }
}

.advantage {
  padding: 56px;
  background-color: var(--light-yellow-10-oppacity);
  border-radius: 60px;
  min-height: 50vh;
  margin-top: -30vh;
  z-index: -1;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: end;

  div {
    text-align: center;
  }
}
