<section>
  <img src="" />

  <div class="info">
    <div class="calc-box">
      <h2>Калькулятор</h2>

      <div class="calc-box__input">
        <h4>Напишите количество в кг</h4>
        <div>
          <button
            (click)="onDecrement()"
            [disabled]="isDecrementBtnDisabled$ | async"
            class="calc-box__input_decrement"
          >
            -
          </button>
          <input
            [formControl]="rateControl"
            [max]="100"
            [min]="0"
            required
            type="number"
          />
          <button
            (click)="onIncrement()"
            [disabled]="isIncrementBtnDisabled$ | async"
            class="calc-box__input_increment"
          >
            +
          </button>
        </div>
        <p>Мин 0 - Макс 100</p>
      </div>
      <div class="calc-box__sum">
        <h4>Итоговая сумма</h4>
        <div class="calc-box__sum_count">0.0</div>
      </div>
    </div>
    <div class="text">
      <h2>Узнайте цену доставки груза из Китая в Казахстан</h2>
      <h4>Тариф розничные заказы от 1990тг за кг</h4>
    </div>
  </div>
</section>
