<h1>{{ "MAIN.PREVIEW.TITLE" | translate }}</h1>

<div class="subtitle">
  <img alt="Box" src="assets/img/Box.svg" />
  <h1>{{ "MAIN.PREVIEW.SUBTITLE" | translate }}</h1>
</div>

<div class="actions">
  <app-common-button
    [shakeIcon]="true"
    [src]="'assets/img/calling.svg'"
    [text]="'MAIN.PREVIEW.BUTTONS.CONNECT' | translate"
    [type]="'secondary'"
    [width]="'200px'"
  ></app-common-button>
  <app-common-button
    [shakeIcon]="true"
    [src]="'assets/img/calculate.svg'"
    [text]="'MAIN.PREVIEW.BUTTONS.CALCULATE' | translate"
    [type]="'secondary'"
    [width]="'200px'"
  ></app-common-button>
  <img alt="dark-instagram" src="assets/img/dark-instagram.svg" />
</div>

<ul>
  <li>
    <a href="#"> <i class="fab fa-facebook-f icon"></i> </a>
  </li>
  <li>
    <a href="#"><i class="fab fa-twitter icon"></i></a>
  </li>
  <li>
    <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
  </li>
  <li>
    <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
  </li>
</ul>
