<section appDropdown class="dropdown__body" id="cabinet">
  <div class="flex row jc-sb pointer">
    <h2>Контактная информация</h2>
    <img
      alt="down_arrow"
      class="down_arrow"
      src="assets/img/down_arrow.svg"
      srcset="assets/img/down_arrow.svg"
      width="30px"
    />
  </div>

  <div [formGroup]="infoForm" class="input-container dropdown">
    <app-input-full-name
      [fullNameFormControl]="infoForm.controls.fullNameFormControl"
    ></app-input-full-name>
    <app-input-phone
      [phoneNumberFormControl]="infoForm.controls.phoneNumberFormControl"
    ></app-input-phone>
    <app-input-city
      [cityFormControl]="infoForm.controls.cityFormControl"
    ></app-input-city>

    @if (infoForm.enabled) {
      <app-common-button
        [text]="'Сохранить'"
        [withFullWidth]="true"
        style="align-self: end"
        (clickBTN)="saveUserChanges()"
        [disabled]="infoForm.invalid"
        type="primary"
      ></app-common-button>
    } @else {
      <app-common-button
        [text]="'Редактировать'"
        [withFullWidth]="true"
        style="align-self: end; color: #ff7c03"
        (clickBTN)="infoForm.enable()"
        type="secondary"
      ></app-common-button>
    }
  </div>
</section>
