@import "../../../../assets/styles/animations.scss";

button {
  padding: 12px 40px 12px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: none;
  color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  &:disabled {
    color: var(--orange-lite);
    cursor: not-allowed !important;
  }

  &.primary {
    background: var(--orange);
    color: white;

    &:disabled {
      background-color: var(--orange-lite);
      cursor: not-allowed !important;
    }
  }

  &.secondary {
    padding: 9px 0;
    color: var(--common-text);
    border: 1px solid var(--common-text);
    min-height: 45px;

    &:disabled {
      background-color: var(--orange-lite);
      cursor: not-allowed !important;
    }
  }

  &.secondary:hover:not(:disabled) {
    .shakeIcon {
      animation: shake 0.5s ease-in-out;
    }
  }

  &.loading {
    cursor: wait !important;
  }
}

.glare-btn {
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  left: auto;
  top: auto;
  transition: all 0.3s linear;
}

.glare-btn:hover:not(:disabled) {
  cursor: pointer;
  transform: scale(1.05);
}

.glare-btn:hover:not(:disabled) .glare {
  right: -50%;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.glare-btn:disabled .glare {
  transition: none !important;
}

.glare:active {
  opacity: 0.95;
}

.glare {
  position: absolute;
  width: 45px;
  height: 200%;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  background-color: rgba(255, 255, 255, 0.3);
  top: -50%;
  right: 120%;
}

.glare:after {
  content: "";
  display: none;
  position: absolute;
  width: 20px;
  height: 100%;
  background: inherit;
  right: -15px;
  top: 0;
}

@media (max-width: 900px) {
  .glare-btn:hover:not(:disabled) {
    transform: none;
  }
}
