<h4>Поиск</h4>
<div class="filter-body">
  <div class="filter-body__field">
    <img alt="Search" src="assets/img/Search.svg" />
    <input [formControl]="searchFormControl" placeholder="Введите трек номер" />
  </div>
  <button (click)="showDialog()">Добавить новый товар</button>
</div>
<p-dialog
  (onHide)="onHideModalWindow()"
  [(visible)]="visible"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  header="Добавить товар"
>
  <div class="product-body">
    <div class="product-filed">
      <h4>Номер товара</h4>
      <input
        [formControl]="trackNumberFormControl"
        autocomplete="off"
        id="newProductInput"
      />
    </div>
    <div class="product-filed">
      <h4>Наименование товара</h4>
      <input
        [formControl]="productNameFormControl"
        autocomplete="off"
        id="newProductNameInput"
      />
    </div>
    <button
      (click)="onSaveProduct()"
      [disabled]="
        this.trackNumberFormControl.invalid ||
        this.productNameFormControl.invalid
      "
    >
      +
    </button>
  </div>

  @for (product of savedProductsLists; track product.id; let i = $index) {
    <div class="product-body">
      <div class="product-filed">
        <h4>Номер товара</h4>
        <input [value]="product.trackNumber" disabled />
      </div>
      <div class="product-filed">
        <h4>Наименование товара</h4>
        <input [value]="product.productName" disabled />
      </div>
      <!--      <img (click)="onSaveProduct()" src="assets/img/Trash.svg" />-->
      <button (click)="onDeleteSavedProduct(product.id)" class="trash">
        <img src="assets/img/Trash.svg" />
      </button>
    </div>
  }

  <ng-template pTemplate="footer">
    <app-common-button
      (clickBTN)="addToMyOrders()"
      [disabled]="
        this.savedProductsLists.length <= 0 &&
        (this.trackNumberFormControl.invalid ||
          this.productNameFormControl.invalid)
      "
      [text]="'Сохранить'"
    ></app-common-button>
  </ng-template>
</p-dialog>
