section {
  display: grid;
  justify-content: center;
  gap: 16px;
  border: 1px solid var(--gray-borders);
  border-radius: 30px;
  margin: 100px auto;
  padding: 32px 87px;
  max-width: 500px;
  text-align: center;
  width: fit-content;

  h2 {
    padding-bottom: 16px;
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 900px) {
  section {
    margin: 72px 0;
    padding: 0;
    border: none;
    width: 100%;
    max-width: inherit;
    justify-content: inherit;

    ::ng-deep .field {
      width: 100% !important;
      max-width: none;

      input {
        width: 100% !important;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 500;
    }
  }
}
