<section #authorization>
  <h2>{{ "AUTHORIZATION.TITLE.PASSWORD_RESET" | translate }}</h2>

  <app-input-email [emailFormControl]="emailFormControl"></app-input-email>

  <app-input-password
    [isSignUp]="true"
    [passwordFormControl]="newPassFormControl"
  ></app-input-password>
  <app-input-password
    [isReset]="true"
    [passwordFormControl]="newPassCheckFormControl"
    [uniqID]="'resetPasswordInput'"
  ></app-input-password>
  <app-input-password-reset
    [passwordResendFormControl]="codeFormControl"
  ></app-input-password-reset>

  @if (this.codeFormControl.enabled) {
    <app-common-button
      [disabled]="
        this.codeFormControl.invalid ||
        this.newPassFormControl.invalid ||
        this.newPassCheckFormControl.invalid
      "
      [text]="'AUTHORIZATION.BUTTONS.RESET_PASSWORD' | translate"
      [withFullWidth]="true"
      (clickBTN)="changePass()"
    ></app-common-button>
  }
  @if (ableToResendOTP$ | async) {
    <app-common-button
      [text]="'AUTHORIZATION.BUTTONS.RESET_PASSWORD_SEND' | translate"
      [type]="'tertiary'"
      [disabled]="emailFormControl.invalid"
      [withFullWidth]="true"
      (clickBTN)="sendOTP()"
    ></app-common-button>
  } @else {
    <app-common-button
      [text]="
        'AUTHORIZATION.BUTTONS.RESET_PASSWORD_TIMER'
          | translate: { count: countDownMilliseconds$ | async | date: 'mm:ss' }
      "
      [disabled]="emailFormControl.invalid"
      [type]="'tertiary'"
      [withFullWidth]="true"
    ></app-common-button>
  }
</section>
