<section #authorization>
  <h2>{{ "AUTHORIZATION.TITLE.PASSWORD_RESET" | translate }}</h2>

  <app-input-email></app-input-email>

  <app-input-password-reset
    [passwordResendFormControl]="passwordResendFormControl"
  ></app-input-password-reset>

  <app-common-button
    [disabled]="true"
    [text]="'AUTHORIZATION.BUTTONS.RESET_PASSWORD' | translate"
    [withFullWidth]="true"
  ></app-common-button>
  @if (ableToResendOTP$ | async) {
  <app-common-button
    [text]="'AUTHORIZATION.BUTTONS.RESET_PASSWORD_SEND' | translate"
    [type]="'tertiary'"
    [withFullWidth]="true"
    (clickBTN)="sendOTP()"
  ></app-common-button>
  } @else {
  <app-common-button
    [text]="
      'AUTHORIZATION.BUTTONS.RESET_PASSWORD_TIMER'
        | translate: { count: countDownMilliseconds$ | async | date: 'mm:ss' }
    "
    [type]="'tertiary'"
    [withFullWidth]="true"
    (clickBTN)="resendOTP()"
  ></app-common-button>
  }
</section>
