<div class="field">
  <h4>{{ "AUTHORIZATION.INPUTS.PASSWORD.TITLE" | translate }}</h4>
  <div class="field__input">
    <input
      id="passwordInput"
      placeholder="{{
        'AUTHORIZATION.INPUTS.PASSWORD.PLACEHOLDER' | translate
      }}"
      type="password"
    />
    <img
      (click)="showOrHidePass()"
      [hidden]="!passwordHidden"
      alt="HideEye"
      src="../../../../../assets/img/Hide.svg"
    />
    <img
      (click)="showOrHidePass()"
      [hidden]="passwordHidden"
      alt="ShowEye"
      src="../../../../../assets/img/Eye.svg"
    />
  </div>
  @if (!isSignUp) {
    <p (click)="navToResetPassword()">
      {{ "AUTHORIZATION.INPUTS.PASSWORD.P" | translate }}
    </p>
  }
</div>
