<div class="field">
  <h4>
    {{
      !isReset
        ? ("AUTHORIZATION.INPUTS.PASSWORD.TITLE" | translate)
        : ("AUTHORIZATION.INPUTS.CHECK_PASSWORD.TITLE" | translate)
    }}
  </h4>
  <div class="field__input">
    <input
      [formControl]="passwordFormControl"
      [id]="uniqID"
      placeholder="{{
        !isReset
          ? ('AUTHORIZATION.INPUTS.PASSWORD.PLACEHOLDER' | translate)
          : ('AUTHORIZATION.INPUTS.CHECK_PASSWORD.PLACEHOLDER' | translate)
      }}"
      type="password"
    />
    <img
      (click)="showOrHidePass()"
      [hidden]="!passwordHidden"
      alt="HideEye"
      src="../../../../../assets/img/Hide.svg"
    />
    <img
      (click)="showOrHidePass()"
      [hidden]="passwordHidden"
      alt="ShowEye"
      src="../../../../../assets/img/Eye.svg"
    />
  </div>
  @if (!isSignUp && !isReset) {
    <p (click)="navToResetPassword()">
      {{ "AUTHORIZATION.INPUTS.PASSWORD.P" | translate }}
    </p>
  }
</div>
